@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.language__selector {
  box-sizing: border-box;
  width: 55px;
  height: 44px;
  margin-right: 10px;
  padding: 0;

  font-size: 0.74rem;
  line-height: 1.1rem;
  color: white;
  text-transform: uppercase;

  border-width: 2px;
  background-color: #6586b1cc;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 20px;

  transition: all 0.3s ease-in-out;

  &:focus,
  &:hover,
  &:active {
    box-shadow: 0px 0px 5px 3px #dedede;
    background-color: #6586b1cc;
    outline: none;

    cursor: pointer;
  }

  @include media-max-width(400px) {
    padding-left: 5px;
  }
}
