.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.logo {
  margin: 0;
  padding: 10px;

  font-size: 32px;
  color: #6586b1;
  letter-spacing: 0.1rem;

  -webkit-text-stroke: 1px #ffffffa2;
}
